<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de busca por Covid-19</title>
</head>
<body>

    <div class="header">
        <h1> Exibindo resultados de busca por "Covid-19" </h1>
        <p id="subtitle">Encontramos um total de 20 resultados para a sua busca</p>
    </div>
    <div class="container">

    <div class="card">
        
        <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      
        <div class="card-section">
        <h3>Coronavírus: como a doença é transmitida?</h3>
        <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
        <a class="link">Leia mais</a></div>
    </div>
    <div class="card">
      <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      <div class="card-section">
      <h3>Coronavírus: como a doença é transmitida?</h3>
      <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
      <a class="link">Leia mais</a></div>
    </div>
    <div class="card">
      <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      <div class="card-section">
      <h3>Coronavírus: como a doença é transmitida?</h3>
      <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
      <a class="link">Leia mais</a></div>
    </div>
    <div class="card">
      <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      <div class="card-section">
      <h3>Coronavírus: como a doença é transmitida?</h3>
      <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
      <a class="link">Leia mais</a></div>
    </div>
    <div class="card">
      <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      <div class="card-section">
      <h3>Coronavírus: como a doença é transmitida?</h3>
      <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
      <a class="link">Leia mais</a></div>
    </div>
    <div class="card">
      <img src="assets/img/covid19.jpg" alt="Covid-19" class="img">
      <div class="card-section">
      <h3>Coronavírus: como a doença é transmitida?</h3>
      <p>Saiba o que é coronavírus, em quanto tempo a doença pode se manifestar e quais são os principais..</p>
      <a class="link">Leia mais</a></div>
    
    </div>
  
<div class="box">
    <div class="category">
     <h4>Categorias</h4>
     <ul> 
    <li> Lorem ipsum dolor </li>
    <li> Lorem ipsum dolor </li>
    <li> Lorem ipsum dolor </li>
    <li> Lorem ipsum dolor </li>
     </ul>
    </div>

    <div>
      <h4>Procurando alguma notícia?</h4>
    <div class="search-container">
      <input type="text" class="search" placeholder="Pesquisar por..." />
      <span class="material-icons">search</span>
    </div>
    </div>

</div>
</div>
